doctype html
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title 房间实践
  link(rel="stylesheet", href="css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/gobang.css")
body
  main.container
    .row
      .col-sm-6
        .go-rooms
      .col-sm-6
  script(src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/socket.io.js")
  script(src="js/gobang.js")